<!doctype html>
<html>
  <head>
    <style>
      body {
        background-color: #ccc;
      }
      .circle {
        width: 20px;
        height: 20px;
        border-radius: 12px;
        border: 3px solid white;
      }
      .mask {
        width:22px;
        height: 26px;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div class="mask">
      <div class="circle"></div>
    </div>
    <br>
    <img src="/img/elmo.jpg">
    <h1> give me a hell yeah up in this mother fucker</h1>
  </body>
</html>
