<!-- index.html -->
<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="/js/recorder.js"></script>

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 header">
          <img src="/img/header.png" class="center-block img-responsive">
        </div>
      </div>
      <div class="row top-buffer">
        <div class="col-xs-12 text-center">
          <span class="pitch"><span class="disclaimer">Please allow microphone access ...</span></span>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-xs-12 notes text-center">
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div id="flash"></div>
    </div>

    <script>
      Wami.setup({
        id: 'flash'
      });

      waitForMic();
      
      function waitForMic() {
        console.log('Is mic granted? ...');
        if ((typeof Wami.getSettings) !== 'function') {
          setTimeout(waitForMic, 1000);
          return;
        }

        if (!Wami.getSettings().microphone.granted) {
          console.log('Mic is not granted ...');
          setTimeout(waitForMic, 1000);
        }
        else {
          console.log('Mic is granted! Fuck yes!');
          startRecording();
        }
      }

      function startRecording() {
        Wami.startRecording('http://localhost:3000/audio');
        setTimeout(stopRecording, 2000);
      }

      function stopRecording() {
        Wami.stopRecording();

        $.ajax({
          url: 'http://localhost:3000/getPitch'
        })
        .done(function(data) {
          $('.pitch').html(data);
          $.ajax({
            url: 'http://localhost:3000/getNotes'
          })
          .done(function(data) {
            console.log('HEYYY!');
            $('.notes').html(data);
            console.log(data);
          });
        });

        setTimeout(startRecording, 500);
      }
    </script>
  </body>
</html>
